body {
    background-color: #ccc;
}

#taiji {
    width: 150px;
    height: 300px;
    margin: 100px auto;
    border-radius: 50%;
    background-color: #fff;
    border-left: 150px solid #000;
    position: relative;
}

#taiji::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    padding: 25px;
    border-radius: 50%;
    border: 50px solid #000;
    background-color: #fff;
    left: -75px;
}

#taiji::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    padding: 25px;
    border-radius: 50%;
    border: 50px solid #fff;
    background-color: #000;
    left: -75px;
    bottom: 0;
}