.ceng {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 10px;
    float: left;
}

.circle {
    background-image: radial-gradient(20px circle at center, orange, green, red);
}

.ellipse {
    background-image: radial-gradient(50px 30px ellipse at center, orange, green 20px, red);
}