body {
    padding-left: 30%;
    background: #e9e9e9;
}

.ceng {
    width: 294px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    box-shadow: 2px 2px 3px #aaa;
    margin: 100px auto;
}

.ceng img {
    width: 100%;
}

.rotate_left {
    float: left;
    transform: rotate(7deg);
}

.rotate_right {
    float: left;
    transform: rotate(-8deg);
}