#heart {
    width: 100px;
    height: 90px;
    position: relative;
    margin: 100px auto;
}

#heart::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: red;
    border-radius: 50px 40px 0px 0px;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    left: 50px;
}

#heart::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: red;
    border-radius: 40px 50px 0px 0px;
    transform-origin: 100% 100%;
    transform: rotate(45deg);
}

#heart span {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    font-size: 10px;
}

#egg {
    width: 126px;
    height: 180px;
    background-color: #fa3;
    margin: 100px auto;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}